[project]
	description = This repository contains binary images for Linux HSA kernel and kernel drivers
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/James Edwards (jedwards-AMD)
[access "refs/for/refs/*"]
	read = group user/James Edwards (jedwards-AMD)
	push = group user/James Edwards (jedwards-AMD)
	label-Code-Review = -2..+2 group user/James Edwards (jedwards-AMD)
	label-Verified = -1..+1 group user/James Edwards (jedwards-AMD)
	rebase = group user/James Edwards (jedwards-AMD)
	removeReviewer = group user/James Edwards (jedwards-AMD)
	submit = group user/James Edwards (jedwards-AMD)
[access "refs/heads/*"]
	read = group user/James Edwards (jedwards-AMD)
	create = group user/James Edwards (jedwards-AMD)
	push = +force group user/James Edwards (jedwards-AMD)
	pushMerge = group user/James Edwards (jedwards-AMD)
[access "refs/tags/*"]
	push = +force group user/James Edwards (jedwards-AMD)
	pushTag = group user/James Edwards (jedwards-AMD)
	pushSignedTag = group user/James Edwards (jedwards-AMD)
